.post-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.post p {
    color: #aaa;
    margin-bottom: 2em;
}

.post-form, .post-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5em;
}
.post-label {
    margin-top: 1em;
    min-width: 3rem;
}
.post-label span {
    margin-bottom: 3rem;
}
